<a href="https://colab.research.google.com/github/monozi/CCDATSCL_EXERCISES_COM222/blob/main/exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [ ]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [ ]:
# put your answer here
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [ ]:
# put your answer here
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [ ]:
# put your answer here
df.shape

(48895, 16)

Identify the numerical features:

In [ ]:
# put your answer here
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Identify the categorical features

In [ ]:
# put your answer here
df.select_dtypes(include=['object']).columns

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [ ]:
# put your answer here
# 1. What is the avg price of listings for each room_type across different neighbourhood_group?
# 2. Does host_id with higher calculated_host_listings_count tend to have higher number_of_reviews or reviews_per_month?
# 3. How does availability_365 correlate with number_of_reviews and reviews_per_month for listings with different price ranges?
# 4. Which neighbourhood within each neighbourhood_group have the highest avg price and what are their most common room_type?
# 5. Is there a relationship between minimum_nights and price and how does it vary by room_type?

## B. Structuring

Check if the dataset has proper column types

In [ ]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [ ]:
# put your answer here
print("Column datatypes: ")
print(df.dtypes)

Column datatypes:
id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [ ]:
# put your answer here
print("Index: ")
print(df.index)

Index:
RangeIndex(start=0, stop=48895, step=1)

Check if the dataset has duplicated rows

In [ ]:
# put your answer here
print("Duplicated rows: ")
print(df.duplicated().sum())

Duplicated rows:
0

Convert columns to correct types (e.g., dates → datetime).

In [ ]:
# put your answer here
df['last_review'] = pd.to_datetime(df['last_review'])
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

Identify at least one structural issue and describe how to fix it.

In [ ]:
# put your answer here
# The structural issue with the last_review column was its 'object' data type, which is typically used for strings and this issue should be resolved using 'pd.to_datetime' to change its datatype because this could lead to inefficiency in a dataset.

## C. Cleaning

Check for missing values

In [ ]:
# put your answer here
print("Missing values: ")
print(df.isnull().sum())

Missing values:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [ ]:
# put your answer here
df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [ ]:
# put your answer here
df[df['price'] <= 0]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23161,18750597,"Huge Brooklyn Brownstone Living, Close to it all.",8993084,Kimberly,Brooklyn,Bedford-Stuyvesant,40.69023,-73.95428,Private room,0,4,1,2018-01-06,0.05,4,28
25433,20333471,★Hostel Style Room | Ideal Traveling Buddies★,131697576,Anisha,Bronx,East Morrisania,40.83296,-73.88668,Private room,0,2,55,2019-06-24,2.56,4,127
25634,20523843,"MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)",15787004,Martial Loft,Brooklyn,Bushwick,40.69467,-73.92433,Private room,0,2,16,2019-05-18,0.71,5,0
25753,20608117,"Sunny, Quiet Room in Greenpoint",1641537,Lauren,Brooklyn,Greenpoint,40.72462,-73.94072,Private room,0,2,12,2017-10-27,0.53,2,0
25778,20624541,Modern apartment in the heart of Williamsburg,10132166,Aymeric,Brooklyn,Williamsburg,40.70838,-73.94645,Entire home/apt,0,5,3,2018-01-02,0.15,1,73
25794,20639628,Spacious comfortable master bedroom with nice ...,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68173,-73.91342,Private room,0,1,93,2019-06-15,4.28,6,176
25795,20639792,Contemporary bedroom in brownstone with nice view,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68279,-73.91170,Private room,0,1,95,2019-06-21,4.37,6,232
25796,20639914,Cozy yet spacious private brownstone bedroom,86327101,Adeyemi,Brooklyn,Bedford-Stuyvesant,40.68258,-73.91284,Private room,0,1,95,2019-06-23,4.35,6,222
26259,20933849,the best you can find,13709292,Qiuchi,Manhattan,Murray Hill,40.75091,-73.97597,Entire home/apt,0,3,0,NaT,NaN,1,0
26841,21291569,Coliving in Brooklyn! Modern design / Shared room,101970559,Sergii,Brooklyn,Bushwick,40.69211,-73.90670,Shared room,0,30,2,2019-06-22,0.11,6,333
26866,21304320,Best Coliving space ever! Shared room.,101970559,Sergii,Brooklyn,Bushwick,40.69166,-73.90928,Shared room,0,30,5,2019-05-24,0.26,6,139

Apply a missing-value strategy (drop, fill, or flag)

In [ ]:
# put your answer here
df.dropna(subset=['name', 'host_name', 'last_review'], inplace=True)
print("Missing values after dropping rows:")
df.isnull().sum()

Missing values after dropping rows:

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

Apply an outlier-handling strategy

In [ ]:
upper_bound_min_nights = df['minimum_nights'].quantile(0.99)
df['minimum_nights'] = np.where(
    df['minimum_nights'] > upper_bound_min_nights,
    upper_bound_min_nights,
    df['minimum_nights']
)

print(f"Minimum nights capped at {upper_bound_min_nights} (99th percentile).")
df['minimum_nights'].describe()

Minimum nights capped at 31.0 (99th percentile).

count    38821.000000
mean         5.163494
std          7.760969
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         31.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [ ]:
# put your answer here
df = df.assign(
    price_per_minimum_night=df['price'] / df['minimum_nights'],
    review_rate_per_month=df['number_of_reviews'] * df['reviews_per_month'],
    is_expensive=df['price'] > 1000
)
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1.0,9,2018-10-19,0.21,6,365,149.000000,1.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1.0,45,2019-05-21,0.38,2,355,225.000000,17.10,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1.0,270,2019-07-05,4.64,1,194,89.000000,1252.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10.0,9,2018-11-19,0.10,1,0,8.000000,0.90,False
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3.0,74,2019-06-22,0.59,1,129,66.666667,43.66,False
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,31.0,49,2017-10-05,0.40,1,0,1.935484,19.60,False
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2.0,430,2019-06-24,3.47,1,220,39.500000,1492.10,False
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2.0,118,2017-07-21,0.99,1,0,39.500000,116.82,False
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1.0,160,2019-06-09,1.33,4,188,150.000000,212.80,False
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5.0,53,2019-06-22,0.43,1,6,27.000000,22.79,False

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [ ]:
# Calculate average price per neighbourhood
avg_price_per_neighbourhood = df.groupby(['neighbourhood_group', 'neighbourhood'])['price'].mean().reset_index()
avg_price_per_neighbourhood.rename(columns={'price': 'average_price'}, inplace=True)

# Calculate number of unique hosts per neighbourhood
num_hosts_per_neighbourhood = df.groupby(['neighbourhood_group', 'neighbourhood'])['host_id'].nunique().reset_index()
num_hosts_per_neighbourhood.rename(columns={'host_id': 'number_of_unique_hosts_in_neighbourhood'}, inplace=True)

# Merge the two aggregated dataframes based on both neighbourhood_group and neighbourhood
aggregated_table_neighbourhood = pd.merge(avg_price_per_neighbourhood, num_hosts_per_neighbourhood, on=['neighbourhood_group', 'neighbourhood'])

print("Aggregated Summary Table (per Neighbourhood):")
display(aggregated_table_neighbourhood.head())

Aggregated Summary Table (per Neighbourhood):

,neighbourhood_group,neighbourhood,average_price,number_of_unique_hosts_in_neighbourhood
0,Bronx,Allerton,90.594595,24
1,Bronx,Baychester,78.000000,4
2,Bronx,Belmont,79.450000,15
3,Bronx,Bronxdale,51.875000,15
4,Bronx,Castle Hill,74.000000,2

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [ ]:
# put your answer here
violations_price = df[df['price'] <= 0].shape[0]
violations_minimum_nights = df[df['minimum_nights'] < 1].shape[0]
violations_host_id = df['host_id'].isnull().sum()

print(f"Number of rows with price <= 0: {violations_price}")
print(f"Number of rows with minimum_nights < 1: {violations_minimum_nights}")
print(f"Number of rows with null host_id: {violations_host_id}")

print("\n--- Data Validation Report ---")
print(f"\nRule: Price must be positive (price > 0)")
print(f"  Violations (price <= 0): {violations_price} rows")

print(f"\nRule: Minimum nights must be >= 1")
print(f"  Violations (minimum_nights < 1): {violations_minimum_nights} rows")

print(f"\nRule: Host ID should not be null")
print(f"  Violations (host_id is null): {violations_host_id} rows")

print("\n--- Summary of Findings ---")
if violations_price > 0:
    print(f"- {violations_price} rows have a price of 0 or less, which is invalid.")
if violations_minimum_nights > 0:
    print(f"- {violations_minimum_nights} rows have minimum_nights less than 1, which is invalid.")
if violations_host_id > 0:
    print(f"- {violations_host_id} rows have a null host_id, which is invalid.")

if violations_price == 0 and violations_minimum_nights == 0 and violations_host_id == 0:
    print("No violations found for the checked rules.")

Number of rows with price <= 0: 10
Number of rows with minimum_nights < 1: 0
Number of rows with null host_id: 0

--- Data Validation Report ---

Rule: Price must be positive (price > 0)
  Violations (price <= 0): 10 rows

Rule: Minimum nights must be >= 1
  Violations (minimum_nights < 1): 0 rows

Rule: Host ID should not be null
  Violations (host_id is null): 0 rows

--- Summary of Findings ---
- 10 rows have a price of 0 or less, which is invalid.

## F. Publishing

Select final columns for publication.

In [ ]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'price_per_minimum_night', 'review_rate_per_month',
       'is_expensive'],
      dtype='object')

In [ ]:
# put your answer here
df_final = df[['id', 'name', 'host_id', 'host_name',
               'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
               'room_type', 'price', 'minimum_nights', 'number_of_reviews',
               'last_review', 'reviews_per_month', 'calculated_host_listings_count',
               'availability_365', 'price_per_minimum_night', 'review_rate_per_month',
               'is_expensive']]

print("Selected Final Columns")
df_final.head()

Selected Final Columns

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1.0,9,2018-10-19,0.21,6,365,149.000000,1.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1.0,45,2019-05-21,0.38,2,355,225.000000,17.10,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1.0,270,2019-07-05,4.64,1,194,89.000000,1252.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10.0,9,2018-11-19,0.10,1,0,8.000000,0.90,False
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3.0,74,2019-06-22,0.59,1,129,66.666667,43.66,False

Export cleaned dataset as "cleaned_airbnb.csv"

In [ ]:
# put your answer here
df_final.to_csv('cleaned_airbnb.csv', index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [ ]:
# put your answer here
aggregated_table_neighbourhood.to_csv('aggregated_table_neighbourhood.csv', index=False)